{{> head}}

{{> header }}

<div class="home__content">
    <div class="home__content--tag_line">
        Looking for flexible and enthusiastic full-stack Ruby on Rails developer?
        <br>
        <div class="call-to-action">
            <a href="/contact">
                <button>
                    Learn more about what I can help you with
                </button>
            </a>
            <span><em>or</em></span>
            <a href="mailto:saiqulhaq@gmail.com">
                <button>
                    Hire me
                </button>
            </a>
        </div>
    </div>

    <div class="home__content--posts">
        <div class="heading">
            <hr>
            Blog Posts:
        </div>

        <div class="content">
            {{> "loop"}}
        </div>
    </div>
</div>

{{> foot}}

