{{!< default}}

{{#post}}

<main class="page" role="main">
    <article class="page__wrapper {{post_class}}">

        <header class="page__header">
            <h1 class="page__title">{{title}}</h1>
        </header>

        <section class="page__content">
            {{content}}
        </section>

    </article>
</main>
{{/post}}
